@font-face {
  font-family: Tanha;
  src: url('font/Tanha.eot');
  src: url('font/Tanha.woff') format('woff'),
    url('font/Tanha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Pacifico;
  src: url('./Pacifico-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
main {
  min-height: 100vh !important;
}

.fa {
  font-family: Tanha;
  text-align: right;
  direction: rtl;
}

.en {
  font-family: Pacifico;
  text-align: left;
  direction: ltr;
}

html {
  font-size: 16pt;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  background: url('./bg.jpg') no-repeat fixed center;
  user-select: none;
}

canvas {
  display: block;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-wrapper {
  max-width: 100%;
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.45);
}

.playlist-wrapper p {
  color: #1a1919;
}

.playlist-wrapper hr {
  border: 1px solid #f4ead5;
  width: 20%;
  margin-bottom: 20px;
}

.header {
  color: #f4ead5;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Barrio', Georgia, cursive;
}

#container {
  z-index: -1;
  position: absolute;
}